
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    --color1: hsla(129, 8%, 61%, 1);
    --color2: hsla(143, 23%, 75%, 1);
    --color3: hsla(85, 17%, 77%, 1);
    --color4: hsla(50, 19%, 83%, 1);
    --color5: hsla(70, 16%, 89%, 1);
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
    text-align: center;
}

img {
    height: 300px;
    width: auto;
}

section {
    padding: 20px 0 20px 0;
}

li span {
    display: block;
    text-overflow: clip;
}

#product-added-span {
    display: none;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    color: var(--color5);
    background-color: var(--color1);
    border-radius: 5px;
    padding: auto;
    margin: 5px;
}

#product-list li {
    list-style: none;
    display: inline-block;
    padding: 4px;
}

#product-list li button {
    display: block;
    margin: auto;
}

#place-order-button {
    background-color: blue;
}

#empty-cart-button {
    background-color: red;
}

table {
    border-collapse: collapse;
    border: 1px solid #aaa;
    text-align: center;
    padding: 10px;
    background-color: white;
    margin: auto;
    max-width: 850px;
    max-height: 850px;
    width: 100%;
    height: 100%;
}

tbody tr:nth-child(even) {
    background: rgb(241, 238, 255);
}

tfoot, thead {
    background: cornsilk;
    font-weight: bold;
    font-style: italic;
}